doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Space Y

  body
    header.header
      img.logo(src="img/logo.svg", alt="Логотип компании SpaceY")
      nav.first_menu
        ul.menu_1
          li.menu_item 
            a.item_link(href="#") Falcon 9
          li.menu_item 
            a.item_link(href="#") Falcon Heavy
          li.menu_item 
            a.item_link(href="#") Dragon
          li.menu_item 
            a.item_link(href="#") Updates
      nav.second_menu
        ul.menu_2
          li.menu_item
          a.item_link(href="#") About
          li.menu_item 
            a.item_link(href="#") Gallery
          li.menu_item 
            a.item_link(href="#") Shop
