doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Space Y

  body
    header.header
      img.logo(src="img/logo.svg", alt="Логотип компании SpaceY")
      nav.main_menu
        ul.menu
          li.menu_item Falcon 9
            a.item_link(href="#")
          li.menu_item Falcon Heavy
            a.item_link(href="#")
          li.menu_item Dragon
            a.item_link(href="#")
          li.menu_item Updates
            a.item_link(href="#")
