doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title Space Y

  body
    header.header
      img.logo(src="img/logo (4).svg", alt="Логотип компании SpaceY")
      nav.first_menu
        ul.top_menu
          li.menu_item 
          a.item_link(href="#") Falcon 9
          li.menu_item 
          a.item_link(href="#") Falcon Heavy
          li.menu_item 
          a.item_link(href="#") Dragon
          li.menu_item 
          a.item_link(href="#") Updates
      nav.second_menu
        ul.top_menu
          li.menu_item
          a.item_link(href="#") About
          li.menu_item 
          a.item_link(href="#") Gallery
          li.menu_item 
          a.item_link(href="#") Shop

  section.main_info
    h1.title Falcon Heavy
    p.description the most powerful operational rocket in the world by a factor of two
  
  .video
    img.video_earth(src="img/earth.gif", alt="Изображение вращающейся Земли")

  section.features
    .overview
    h2.features_title 
      | Falcon Heavy
      br 
      | Overview
    table.table
      tr
        td.column HEIGHT
        td.column 70 m / 229.6 ft
      tr
        td.column DIAMETER
        td.column 12.2 m / 39.9 ft
      tr
        td.column MASS
        td 1,420,788 kg / 3,125,735 lb
      tr
        td.column PAYLOAD TO LEO
        td.column 63,800 kg / 140,660 lb
      tr
        td.column PAYLOAD TO GTO	
        td.column 26,700 kg / 58,860 lb
      tr
        td.column PAYLOAD TO MARS
        td.column 16,800 kg / 37,040 lb
    img.rocket(src="img/rocket.svg", alt="")

    h2.features_title 
      | UNMATCHED 
      .br
      | PERFORMANCE
    p.features_text With more than 5 million pounds of thrust at liftoff, Falcon Heavy is the most capable rocket flying. By comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full power. Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner—complete with passengers, luggage and fuel—to orbit.
    
  

  
    



  

    
