.header {
    display: flex;
    max-width: 1231px;
    margin: auto;
    width: 90%;
    justify-content: space-between;
}

.top_menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.item_link {
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
}

.second_menu .item_link {
    color: #808080;    
}